body {
  background: hsl(171, 100%, 41%);
}

h1 {
  text-align: center;
}

.fa-snapchat {
  color: yellow;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar {
  background-color: hsl(217, 71%, 53%);
}

.navbar-burger {
  height: 4rem !important;
}
a.navbar-item:hover {
  background: hsl(0, 0%, 96%);
}

#brand:hover {
  background: white;
}

.navbar span {
  background-color: white;
}

.navbar-burger.is-active span {
  background-color: white;
} 


div.burger:hover span {
  background-color: black;
} 

.columns {
  background-color: white;  
  min-height: 300px;
}

.hero {
  background-color: hsl(171, 100%, 41%);
}

.left-pic {
  border: 1px solid #eee
}

div.is-ancestor {
  margin-left: 25px !important;
  margin-right: 25px !important;
}

div.image-container {
  overflow: hidden
}

.image {
  transition: all .7s ease-in;
}

.image.is-square img {
  border-radius: 5px;
}

div.image-container:hover .image {
  transform: scale(1.1);
  transition: all 1s ease-in;
  filter: brightness(.5);
}

#box-one {
  background-color: hsl(48, 100%, 67%);
}

#box-two {
  position: relative;
  background-color: hsl(141, 71%, 48%);
}

#box-three {
  background-color: hsl(0, 0%, 21%)
}

#box-four {
  background-color: hsl(171, 100%, 41%);
}

#learn-more-btn {
  margin-top: 20%;
}

.footer {
  background: hsl(217, 71%, 53%);
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 15px;
}

a#name:hover {
  color: white;  
}

a#large-pic-btn {
  margin-top: 20px;
  display: none;
}

@media screen and (max-width: 1070px) {
  a#large-pic-btn {
    display: inline-block;
  }
}

h2.image-text {
  position: absolute; 
  top: 200px; 
  left: 0; 
  width: 100%; 
}